.articlePanel_container {
  width: 100%;
  height: 100%;
  font-family: "Zilla Slab";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articlePanel_container:hover {
  cursor: pointer;
}

.articlePanel_container:hover .articlePanel_bottomBar {
  background-position: 100%;
}

.articlePanel_base {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  background-color: #282c34;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .articlePanel_base {
    padding: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .articlePanel_base {
    padding: 3px;
  }
}

.articlePanel_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articlePanel_title {
  font-weight: bold;
  font-size: 1.35vw;
  text-align: center;
  width: 95%;
}

@media only screen and (max-width: 1200px) {
  .articlePanel_title {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 768px) {
  .articlePanel_title {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 480px) {
  .articlePanel_title {
    font-size: 5.5vw;
  }
}

.articlePanel_description {
  font-size: 1vw;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

@media only screen and (max-width: 1200px) {
  .articlePanel_description {
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 768px) {
  .articlePanel_description {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 480px) {
  .articlePanel_description {
    font-size: 4vw;
  }
}

.articlePanel_base img {
  width: 100%;
  padding: 0.3vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .articlePanel_base img {
    padding: 0.1vw;
  }
}

@media only screen and (max-width: 480px) {
  .articlePanel_base img {
    padding: 0.4vw;
  }
}

.articlePanel_bottomBar {
  font-family: "Open Sans";
  border-top: 2px solid white;
  background: -webkit-gradient(linear, left top, right top, from(#8950ff), color-stop(#8950ff), color-stop(#282c34), to(#282c34));
  background: linear-gradient(to right, #8950ff, #8950ff, #282c34, #282c34);
  background-size: 300%;
  background-position: 0%;
  -webkit-transition: background-position 0.35s;
  transition: background-position 0.35s;
  height: 1.1vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .55vw;
  font-weight: bold;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .articlePanel_bottomBar {
    font-size: 0.8vw;
    height: 1.3vw;
  }
}

@media only screen and (max-width: 768px) {
  .articlePanel_bottomBar {
    font-size: 1.1vw;
    height: 1.8vw;
  }
}

@media only screen and (max-width: 480px) {
  .articlePanel_bottomBar {
    font-size: 2.3vw;
    height: 4vw;
  }
}

.articlePanel_bottomBar--doesntExist {
  background-color: red;
}
/*# sourceMappingURL=ArticlePanel.css.map */