.articleSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  margin-top: 30px;
}

.articleSearch_title {
  font-family: "Zilla Slab";
  color: #1d1d1d;
}

.articleSearch_top_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .articleSearch_top_bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.articleSearch_searchBar {
  border: none;
  border-radius: 2px;
  background: #1d1d1d;
  height: 30px;
  outline: none;
  padding-left: 10px;
  width: 250px;
}

@media only screen and (max-width: 768px) {
  .articleSearch_searchBar {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .articleSearch_searchBar {
    width: 50%;
  }
}

.articleSearch_searchBar::-webkit-input-placeholder {
  color: white;
}

.articleSearch_searchBar:-ms-input-placeholder {
  color: white;
}

.articleSearch_searchBar::-ms-input-placeholder {
  color: white;
}

.articleSearch_searchBar::placeholder {
  color: white;
}

.articleSearch_searchBar,
.articleSearch_select {
  background: #1d1d1d;
  color: white;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.articleSearch_select {
  border: none;
  border-radius: 2px;
  height: 30px;
  margin-right: 10px;
  outline: none;
  padding-left: 10px;
  width: 100px;
}

@media only screen and (max-width: 768px) {
  .articleSearch_select {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .articleSearch_select {
    width: 50%;
  }
}

.articleSearch_tags {
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Zilla Slab";
}

@media only screen and (max-width: 768px) {
  .articleSearch_tags {
    margin-top: 20px;
  }
}

.articleSearch_checkbox {
  font-size: 0.75rem;
  background: #7c7ccf;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.articleSearch_checkbox:hover {
  cursor: pointer;
}

.articleSearch_checkbox p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleSearch_checkbox p {
  margin-left: 10px;
  font-size: 0.5rem;
  width: 5px;
}

.articleSearch_checkbox--checked {
  background: #FF8E79;
}

.articleSearch_articles {
  margin-top: 50px;
}
/*# sourceMappingURL=ArticleSearch.css.map */