.commentSection_container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 768px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .commentSection_container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.commentSection_greeting {
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 1.5rem;
  color: #1d1d1d;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .commentSection_greeting {
    font-size: 1.6rem;
  }
}

.commentSection_newComment {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.commentSection_newComment textarea,
.commentSection_newReply textarea {
  font-family: "Roboto Slab";
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: .7rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.commentSection_newComment textarea:focus,
.commentSection_newReply textarea:focus {
  outline: none;
}

@media only screen and (max-width: 480px) {
  .commentSection_newComment textarea,
  .commentSection_newReply textarea {
    height: 60px;
  }
}

.commentSection_newReply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.commentSection_submit {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  border-top: none;
  background: #FF8E79;
  color: white;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.commentSection_submit:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1d1d1d;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 150ms ease-out;
  transition: 150ms ease-out;
}

.commentSection_submit:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.commentSection_submit:hover {
  background-position: 100%;
}

@media only screen and (max-width: 480px) {
  .commentSection_submit {
    height: 20px;
  }
}

.commentSection_submit p {
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 1rem;
}

.commentSection_submit--disabled {
  background: #7c7ccf;
}

.commentSection_submit--disabled:hover {
  background: #7c7ccf;
}

.commentSection_comments {
  margin-top: 50px;
  width: 100%;
}

.comment_container, .comment_buttons {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.comment_container {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #e6e6e6;
  padding: 20px;
  padding-top: 30px;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

@media only screen and (max-width: 768px) {
  .comment_container {
    padding: 15px;
  }
}

.comment_profile_picture {
  width: 100px;
  border: 1px solid #e6e6e6;
}

@media only screen and (max-width: 768px) {
  .comment_profile_picture {
    display: none;
  }
}

.comment_profile_picture--tablet {
  display: none;
}

@media only screen and (max-width: 768px) {
  .comment_profile_picture--tablet {
    display: inline;
    width: 25px;
    border: 1px solid #e6e6e6;
    margin-right: 10px;
  }
}

.comment_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 15px;
  width: 100%;
  min-height: 100px;
  color: black;
}

@media only screen and (max-width: 768px) {
  .comment_content {
    min-height: 75px;
    margin-left: 0;
  }
}

.comment_topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.comment_timestamp {
  font-size: 0.6rem;
}

.comment_author {
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 1rem;
}

.comment {
  font-size: 0.75rem;
  width: 100%;
  word-wrap: break-word;
  padding-top: 10px;
  line-height: 1.3em;
}

@media only screen and (max-width: 768px) {
  .comment {
    margin-top: 5px;
    font-size: 0.9rem;
  }
}

.comment_replyButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
  font-family: "Zilla Slab";
  font-weight: bold;
  text-align: center;
  padding: 5px;
  width: 100px;
  font-size: 0.8rem;
  background-color: #FF8E79;
  color: white;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.comment_replyButton:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1d1d1d;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 150ms ease-out;
  transition: 150ms ease-out;
}

.comment_replyButton:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.comment_replyButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .comment_replyButton {
    margin-top: 10px;
    width: 75px;
    padding: 3px;
    font-size: 0.7rem;
  }
}

.comment_replies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  width: 85%;
}

@media only screen and (max-width: 768px) {
  .comment_replies {
    width: 90%;
  }
}

.comment_newReply {
  width: 100%;
  margin-bottom: 20px;
}

.commentSettings_container {
  position: absolute;
  top: 5px;
  right: 20px;
}

@media only screen and (max-width: 768px) {
  .commentSettings_container {
    display: none;
  }
}

.commentSettings_container--tablet {
  display: none;
}

@media only screen and (max-width: 768px) {
  .commentSettings_container--tablet {
    display: inline;
    margin-left: 10px;
  }
}

.commentSettings {
  color: white;
  font-family: "Roboto";
  font-size: 0.8rem;
  width: 50px;
  position: absolute;
  background: white;
  border: 1px solid gray;
  font-family: "Open Sans";
  font-size: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 5px;
  -webkit-transform: translateX(-32px);
          transform: translateX(-32px);
}

.commentSettings p {
  color: #1d1d1d;
  cursor: pointer;
}

.commentSettings p:hover {
  cursor: pointer;
}

.commentSettings_icon {
  width: 10px;
  height: 10px;
  width: 15px;
}

.commentSettings_icon:hover {
  cursor: pointer;
}
/*# sourceMappingURL=CommentSection.css.map */