.courseSearch {
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  .courseSearch {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.courseSearch {
  width: 95%;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .courseSearch {
    width: 100%;
  }
}

.courseSearch_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_container {
    margin-top: 15px;
  }
}

.courseSearch {
  margin-top: 30px;
  font-family: "Zilla Slab";
}

@media only screen and (max-width: 1200px) {
  .courseSearch {
    margin-top: 0;
  }
}

.courseSearch_courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courseSearch_course:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_course:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.courseSearch_course {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid white;
  border-style: dashed;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_course {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .courseSearch_course {
    padding-top: 20px;
  }
}

.courseSearch_course:last-child {
  border-bottom: none;
}

.courseSearch_video_and_title,
.courseSearch_details {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_video_and_title,
  .courseSearch_details {
    width: 100%;
  }
}

.courseSearch_video,
.courseSearch_button {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(24, 30, 52, 0.4);
          box-shadow: 5px 5px 0px 0px rgba(24, 30, 52, 0.4);
}

.courseSearch_video_and_title h1 {
  font-size: 2.5vw;
  text-shadow: 3px 3px 0px #181e34;
  margin-top: 20px;
  text-align: center;
  color: #e6ebff;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_video_and_title h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .courseSearch_video_and_title h1 {
    font-size: 1.7rem;
  }
}

.courseSearch_video {
  width: 39vw;
  height: 21.9375vw;
  background: #181e34;
  border: 2px solid #e2c13d;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_video {
    width: 55vw;
    height: 30.9375vw;
  }
}

@media only screen and (max-width: 768px) {
  .courseSearch_video {
    width: 75vw;
    height: 42.1875vw;
  }
}

@media only screen and (max-width: 1200px) {
  .courseSearch_details {
    margin-top: 20px;
  }
}

.courseSearch_button {
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e2c13d;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.courseSearch_button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00A6ED;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.courseSearch_button:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.courseSearch_button p {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#181e34), color-stop(#181e34), color-stop(#e6ebff), to(#e6ebff));
  background-image: linear-gradient(#181e34, #181e34, #e6ebff, #e6ebff);
  background-size: auto 400%;
  -webkit-transition: background 300ms ease-out;
  transition: background 300ms ease-out;
}

.courseSearch_button:hover p {
  background-position-y: 100%;
}

.courseSearch_button:hover {
  cursor: pointer;
}

.courseSearch_button p {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.courseSearch_details h1 {
  text-shadow: 3px 3px 0px #181e34;
  font-size: 1.8vw;
  text-align: center;
  color: #e6ebff;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_details h1 {
    font-size: 1.4rem;
  }
}

.courseSearch_details_p {
  color: #e6ebff;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-size: 0.8rem;
  line-height: 1.3em;
  text-shadow: 2px 2px 0px #181e34;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_details_p {
    font-size: 1rem;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .courseSearch_details_p {
    width: 95%;
  }
}

@media only screen and (max-width: 480px) {
  .courseSearch_details_p {
    width: 100%;
  }
}

.courseSearch_title--loader {
  height: 40px;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_title--loader {
    height: 50px;
    width: 60%;
    margin-top: 20px;
  }
}

.courseSearch_header--loader {
  height: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_header--loader {
    height: 30px;
    width: 40%;
  }
}

.courseSearch_text--loader {
  height: 50px;
  margin-bottom: 20px;
  width: 75%;
}

@media only screen and (max-width: 1200px) {
  .courseSearch_text--loader {
    width: 65%;
  }
}

.courseSearch_button--loader {
  width: 270px;
  height: 53px;
}
/*# sourceMappingURL=CourseSearch.css.map */