.coursePartPanel_container {
  background: #181e34;
  width: 60vw;
  height: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Zilla Slab";
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.85vw;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(24, 30, 52, 0.4);
          box-shadow: 5px 5px 0px 0px rgba(24, 30, 52, 0.4);
  margin-bottom: 15px;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.coursePartPanel_container:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e2c13d;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.coursePartPanel_container:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.coursePartPanel_container p {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6ebff), color-stop(#e6ebff), color-stop(#181e34), to(#181e34));
  background-image: linear-gradient(#e6ebff, #e6ebff, #181e34, #181e34);
  background-size: auto 400%;
  -webkit-transition: background 250ms ease-out;
  transition: background 250ms ease-out;
}

.coursePartPanel_container:hover p {
  background-position-y: 100%;
}

.coursePartPanel_container:hover {
  cursor: pointer;
  background: #181e34;
}

.coursePartPanel_container:hover .coursePartPanel_part {
  border-right: 1px solid #181e34;
}

.coursePartPanel_container:active {
  -webkit-box-shadow: 3px 3px 0px 0px rgba(24, 30, 52, 0.4);
          box-shadow: 3px 3px 0px 0px rgba(24, 30, 52, 0.4);
}

@media only screen and (max-width: 1200px) {
  .coursePartPanel_container {
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  .coursePartPanel_container {
    width: 100%;
  }
}

.coursePartPanel_part {
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Condensed";
  font-size: 2vw;
  padding-right: 10px;
  border-right: 1px solid #e6ebff;
}

@media only screen and (max-width: 1200px) {
  .coursePartPanel_part {
    font-size: 2.25vw;
    width: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .coursePartPanel_part {
    font-size: 3vw;
    width: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .coursePartPanel_part {
    width: 10px;
  }
}

.coursePartPanel_title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media only screen and (max-width: 1200px) {
  .coursePartPanel_title {
    font-size: 2.5vw;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .coursePartPanel_title {
    font-size: 3.5vw;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .coursePartPanel_title {
    font-size: 3vw;
    margin-left: 10px;
  }
}

.coursePartPanel_open {
  padding: 10px;
}
/*# sourceMappingURL=CoursePartPanel.css.map */