.navbar_container {
  z-index: 2;
  position: fixed;
  width: 100%;
  font-family: "Zilla Slab";
  color: white;
  background: #7c7ccf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1500px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    width: 100%;
  }
}

.navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .navbar_logo {
    width: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar_logo {
    width: 50px;
  }
}

.navbar_logo img {
  margin-right: 3px;
  height: 40px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.navbar_logo_title {
  color: white;
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: .8rem;
  line-height: 0.8em;
  width: 150px;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .navbar_logo_title {
    width: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar_logo_title {
    display: none;
  }
}

.navbar_links {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  font-size: 0.85rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .navbar_links {
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .navbar_links {
    font-size: 1rem;
  }
}

.navbar_link {
  width: 100px;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.navbar_link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF8E79;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.navbar_link:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navbar_link:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navbar_link {
    width: 75px;
  }
}

.navbar_link p {
  color: white;
  font-family: "Zilla Slab";
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accountSection_container {
  margin-left: auto;
  pointer-events: none;
}

.accountSection {
  right: 0px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.accountSection > * {
  pointer-events: auto;
}

.accountSection a {
  text-decoration: none;
  color: white;
  font-size: .9rem;
}
/*# sourceMappingURL=Navbar.css.map */