.navbar_container {
  z-index: 2;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-family: "Zilla Slab";
  color: white;
  background: #181e34;
}

.navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 235px;
  background: #e2c13d;
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .navbar_logo {
    width: 55px;
  }
}

.navbar_logo img {
  margin-right: 3px;
  height: 40px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.navbar_logo_title {
  color: #181e34;
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: .8rem;
  line-height: 0.8em;
  width: 150px;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .navbar_logo_title {
    display: none;
  }
}

.navbar_logo_block {
  width: 235px;
}

@media only screen and (max-width: 768px) {
  .navbar_logo_block {
    width: 55px;
  }
}

.navbar_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  font-size: 0.85rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  .navbar_links {
    font-size: 1rem;
  }
}

.navbar_link {
  width: 100px;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.navbar_link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e2c13d;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.navbar_link:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navbar_link p {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#181e34), color-stop(#181e34), color-stop(white), to(white));
  background-image: linear-gradient(#181e34, #181e34, white, white);
  background-position-y: 100%;
  background-size: auto 400%;
  -webkit-transition: background 300ms ease-out;
  transition: background 300ms ease-out;
}

.navbar_link:hover p {
  background-position-y: 0%;
}

.navbar_link:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navbar_link {
    width: 75px;
  }
}

.navbar_link p {
  color: white;
  font-family: "Zilla Slab";
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.accountSection_container {
  margin-left: auto;
  pointer-events: none;
}

.accountSection {
  right: 0px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.accountSection > * {
  pointer-events: auto;
}

.accountSection a {
  text-decoration: none;
  color: white;
  font-size: .9rem;
}
/*# sourceMappingURL=Navbar.css.map */