.navbar_container {
  z-index: 2;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-family: "Zilla Slab";
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#8950ff), to(#00b7ff));
  background: linear-gradient(to right, #8950ff, #00b7ff);
}

.navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 235px;
  background: #282c34;
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .navbar_logo {
    width: 55px;
  }
}

.navbar_logo img {
  margin-right: 3px;
  height: 40px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.navbar_logo_title {
  color: white;
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: .8rem;
  line-height: 0.8em;
  width: 150px;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .navbar_logo_title {
    display: none;
  }
}

.navbar_logo_block {
  width: 235px;
}

@media only screen and (max-width: 768px) {
  .navbar_logo_block {
    width: 55px;
  }
}

.navbar_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  font-size: 0.85rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  .navbar_links {
    font-size: 1rem;
  }
}

.navbar_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "Zilla Slab";
  height: 100%;
  width: 100px;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.navbar_links a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #282c34;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.navbar_links a:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@media only screen and (max-width: 768px) {
  .navbar_links a {
    width: 75px;
  }
}

.accountSection_container {
  margin-left: auto;
  pointer-events: none;
}

.accountSection {
  right: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.accountSection > * {
  pointer-events: auto;
}

.accountSection a {
  text-decoration: none;
  color: white;
  font-size: .9rem;
}
/*# sourceMappingURL=Navbar.css.map */