@import "_variables";

%articlePadding {
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.article_header {
    font-size: 1.75rem;
    font-family: "Zilla Slab";
    font-weight: bold;
    color: $textColor;
    text-shadow: 3px 3px 0px $darkBlue;
}

.article_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.article_jumbotron,
.article_image,
.article_title_container {
    border: 4px solid $gold;

    @include tablet-down() {
        border: 3px solid $gold;
    }
}

.article_jumbotron {
    display: flex;
    justify-content: center;
    width: 100%;
    background: $darkBlue;
    margin-top: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;

    @include phone-down() {
        background-size: 35%;
    }
}

.article_content {
    //@extend %articleContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_image {
    margin: 30px;
    width: 640px;
    height: 360px;
    z-index: 1;
    background-color: $OneDarkBG;

    @include tablet-down() {
        width: 85vw;
        height: 47.8125vw; //keeps aspect ratio    95 / (16/9) = 53.4375
    }
}

.article_title_container {
    z-index: 1;
    text-align: center;        
    margin-top: auto;
    border-bottom: none;
    transform: translateY(4px); //move title down to cover article_contents border

    @include tablet-down() {
        transform: translateY(3px);
    }
}

.article_title {
    font-family: "Zilla Slab";    
    color: $textColor; 
    font-weight: bold;
    font-size: 2rem;
    background: lighten($color: $darkBlue, $amount: 15);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-shadow: 3px 3px 0px $darkBlue;

    @include tablet-down() {
        font-size: 1.6rem;
        text-shadow: 0.5px 0.5px 0.5px $darkGrey;
    }
}

.article {
    @extend %articleContainer;
}

.article_prerequisites_container {
    font-family: "Open Sans";
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    @extend %articlePadding;
    line-height: 1.5em;
    margin-top: 10px;
    text-shadow: 2px 2px 0px $darkBlue;
    color: $textColor;
}

.article_prerequisites_available {
    font-weight: bold;
    color: $gold;
}

.article_prerequisites_available:hover {
    cursor: pointer;
    color: $darkBlue;
}

.article_lineBreak {
    background: white;
    width: 100%;
    height: 1px;
}

.article_text_container {
    @extend %articlePadding;
    display: flex;
    flex-direction: column;
}

.article_text_container li {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5em;
    font-family: "Open Sans";
    color: $textColor;
    text-shadow: 2px 2px 0px $darkBlue;
}

.article_text_container li h1 {
    margin-top: 50px;
    margin-bottom: 15px;
    text-shadow: 3px 3px 0px $darkBlue;
}

.article_text_container a {
    color: $gold;
}

.article_commentSection {
    width: 100%;
    display: flex; 
    justify-content: center; 
}