@import "_variables";

%articlePadding {
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.article_header {
    font-size: 1.6rem;
    font-family: "Zilla Slab";
    font-weight: bold;
    color: $darkGrey;
}

.article_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.article_jumbotron,
.article_image,
.article_title_container {
    border: 3px solid $blue;
}

.article_jumbotron {
    $color2: $OneDarkBG;
    $color3: #24282f;
    $color1: #20242a;

    display: flex;
    justify-content: center;
    width: 100%;
    background: 
        radial-gradient(#1a1d22 3px, transparent 4px),
        radial-gradient(#1a1d22 3px, transparent 4px),
        linear-gradient($OneDarkBG 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #1a1d22 75px, #1a1d22 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #1a1d22 76px, #1a1d22 77px, transparent 78px, transparent 109px),
        $OneDarkBG;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    margin-top: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;

    @include phone-down() {
        background-size: 35%;
    }
}

.article_content {
    @extend %articleContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_image {
    margin: 30px;
    width: 640px;
    height: 360px;
    z-index: 1;
    background-color: $OneDarkBG;

    @include tablet-down() {
        width: 95vw;
        height: 53.4375vw; //keeps aspect ratio    95 / (16/9) = 53.4375
    }
}

.article_title_container {
    z-index: 1;
    text-align: center;        
    margin-top: auto;
    border-bottom: none;
    transform: translateY(3px); //move title down to cover article_contents border
}

.article_title {
    font-family: "Zilla Slab";    
    color: $darkGrey; 
    font-weight: bold;
    font-size: 1.8rem;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;

    @include tablet-down() {
        font-size: 1.6rem;
        text-shadow: 0.5px 0.5px 0.5px $darkGrey;
    }
}

.article {
    @extend %articleContainer;
}

.article_prerequisites_container {
    font-family: "Open Sans";
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    @extend %articlePadding;
    line-height: 1.5em;
    margin-top: 10px;
}

.article_prerequisites_available {
    font-weight: bold;
    color: $blue;
}

.article_prerequisites_available:hover {
    cursor: pointer;
    color: $purple;
}

.article_lineBreak {
    background: $darkGrey;
    width: 100%;
    height: 1px;
}

.article_text_container {
    @extend %articlePadding;
    display: flex;
    flex-direction: column;
}

.article_text_container li {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5em;
    font-family: "Open Sans";
}

.article_text_container a {
    color: $blue;
}

.article_commentSection {
    margin-top: 30px;
    width: 100%;
    display: flex; 
    justify-content: center; 
}