@import "_variables";

.article_container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_container h1 {
    font-family: "Zilla Slab";
    color: $darkGrey;
    font-size: 1.85rem;
    margin-top: 25px;
    text-align: center;

    @include tablet-down() {
        font-size: 1.75rem;
    }
}

.article_image {
    width: 768px;
    height: 432px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 10px;

    @include desktop-down() {
        width: 680px;
        height: 382.5px;
    }

    @include tablet-down() {
        width: 450px;
        height: 253.125px;
    }

    @include phone-down() {
        width: 90vw;
        height: 50.625vw;
    }
}

.article {
    width: 768px;

    @include desktop-down() {
        width: 768px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    @include tablet-down() {
        width: 100%;
    }
}

.article p,
.article li {
    font-family: "Roboto Slab";
    line-height: 1.6em;
}

.article li {
    margin-top: 30px;
    margin-bottom: 30px;
}

.article h2 {
    margin-top: 75px;
    margin-bottom: 15px;
    font-family: "Roboto Slab";
    font-size: 1.5rem;
    line-height: 1.3em;
    color: $darkGrey;

    @include tablet-down() {
        margin-top: 50px;
    }
}

.article a {
    color: $orange;
}

.article_prerequisites_container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.article_prerequisites_container h2 {
    font-family: "Zilla Slab";
    color: $darkGrey;
    margin-bottom: 10px;
}

.article_prerequisites_container a {
    color: $orange;
    font-weight: bold;
}