@import "_variables";

.articlePanel {
    display: flex;
    margin-bottom: 75px;
}

.articlePanel img:first-of-type {
    width: 600px;
    border-radius: 20px;
    z-index: 0;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.articlePanel img:last-of-type {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(20px);
    opacity: 0.2;
}

.articlePanel_content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: $darkGrey;
    padding-left: 30px;
}

.articlePanel_content h2 {
    font-family: "Zilla Slab";
    font-size: 1.6rem;
}

.articlePanel_content p {
    font-size: "Roboto";
    margin-top: 10px;
    line-height: 1.3em;
}

.articlePanel_content button {
    margin-top: auto;
    width: 300px;
    font-family: "Zilla Slab";
    font-size: 1.3rem;
    background-color: $darkGrey;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    @include backgroundTransition($orange, 200ms, "down");
    transform: translateY(-5px);
}