@import "_variables";

.code_container {
    font-size: .7rem;
    border: 2px solid $gold;
    display: flex;
    box-shadow: 7px 7px 0px 0px rgba($darkBlue, 0.4);
    position: relative;

    @include desktop-down() {
        font-size: .6rem;
    }

    @include tablet-down() {
        font-size: .5rem;
    }
}

//The actual code
.code_container pre span,
.code {
    font-size: .7rem;

    @include desktop-down() {
        font-size: .75rem;
    }
}

//snippets of code, not needed in a whole block
.code_pre_container {
    align-self: flex-start;
    line-height: 1.05rem;
    border: 2px solid $gold;
    box-shadow: 7px 7px 0px 0px rgba($darkBlue, 0.4);
}

.code_gutter {
    width: 50px;   
    font-family: monospace;  
    box-sizing: border-box;  
    padding: 10px;
    counter-reset: line;
    display: flex;
    flex-direction: column;
    background: $darkBlue;    

    @include tablet-down() {
        width: 35px;
    }
    
    span {
        font-size: .7rem;
        line-height: 1.09rem;
        display: flex;
        justify-content: flex-start;

        @include desktop-down() {
            font-size: .75rem;
            line-height: 22.5px;
        }

        @include tablet-down() {
            line-height: 20.25px;
        }

        @include phone-down() {
            line-height: 18px;
        }

        &:before {
            counter-increment: line;
            content: counter(line);
            color: rgb(165, 165, 165);
        }
    }
}

.code {
    width: 100%;
    padding: 10px;
    padding-left: 0;
}

.code_filename {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #5C6370;
    font-family: monospace;

    @include tablet-down() {
        right: 2px;
        top: 2px;
    }
}

.code_pre_container {
    max-width: 100%;
    font-size: 0.8rem;
    
    @include phone-down() {
        font-size: 0.7rem;
    }
}

.pre {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}