@import "_variables";

.commentSection_container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    @extend %containerPadding;

    @include tablet-down() {
        width: 100%;
    }
}

.commentSection_greeting {
    font-family: "Zilla Slab";
    font-weight: bold;
    font-size: 1.75rem;
    color: #d3dcff;
    text-align: center;
    text-shadow: $headerShadow;

    @include tablet-down() {
        font-size: 1.6rem;
    }
}

.commentSection_newComment {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: $boxShadow;
}

.commentSection_newComment textarea,
.commentSection_newReply textarea {
    font-family: "Open Sans";
    height: 100px;    
    box-sizing: border-box;
    padding: 5px;
    font-size: .7rem;
    border: 1px solid rgba(black, 0.2);

    &:focus {
        outline: none;
    }

    @include phone-down() {
        height: 60px;
    }
}

.commentSection_newReply {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.commentSection_submit {
    width: 100%;
    height: 30px;    
    border: none;    
    cursor: pointer;
    outline: none;
    border-top: none;
    background: $lightBlue;
    @include backgroundTransition($gold, 150ms, "up");
    @include textTransition(p, white, $darkBlue, 300ms, "up");

    &:hover {        
        background-position: 100%;
    }

    @include phone-down() {
        height: 20px;
    }
}

.commentSection_submit p {
    font-family: "Zilla Slab";
    font-weight: bold;
    font-size: 1rem;
}

.commentSection_submit--disabled {
    background: $OneDarkBG;

    &:hover {
        background: $OneDarkBG;
    }
}

.commentSection_comments {
    margin-top: 50px;
    width: 100%;
}



//COMMENT
.comment_container, .comment_buttons {
    width: 100%;
    box-sizing: border-box;
}

.comment_container {    
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    border: 1px solid $gold;
    box-shadow: $boxShadow;
    padding: 20px;
    padding-top: 30px;
    position: relative;
    background-color: $darkBlue;
}

.comment_profile_picture {
    width: 100px;
    border: 1px solid $gold;
}


.comment_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    width: 100%;
    min-height: 100px;
}

.comment_topBar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.comment_timestamp {
    font-size: 0.6rem;
    color: $textColor;
}

.comment_author {
    font-family: "Zilla Slab";
    font-weight: bold;
    font-size: 1rem;
    color: $textColor;
}

.comment {
    font-size: 0.75rem;
    width: 100%;
    word-wrap: break-word;
    color: $textColor;
    padding-top: 10px;
    line-height: 1.3em;
}

.comment_replyButton {
    align-self: flex-end;  
    margin-top: auto;
    font-family: "Zilla Slab";
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 100px;
    font-size: 0.8rem;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: $gold;
    @include backgroundTransition($lightBlue, 150ms, "up");
    @include textTransition(p, $darkBlue, white, 150ms, "up");

    &:hover {
        cursor: pointer;
    }
}




.comment_replies {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 85%;
}

.comment_newReply {
    width: 100%;
    margin-bottom: 20px;
}

.commentSettings_container {
    position: absolute;
    top: 5px;
    right: 20px;
}

.commentSettings {
    color: white;
    font-family: "Roboto";
    font-size: 0.8rem;
    width: 50px;
    position: absolute;
    background: white;
    border: 1px solid gray;
    font-family: "Open Sans";
    font-size: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    transform: translateX(-32px);
}

.commentSettings p {
    color: $darkGrey;
    cursor: pointer;
    &:hover {
        cursor: pointer;
    }
}

.commentSettings_icon {
    width: 10px;
    height: 10px;
    width: 15px;

    &:hover {
        cursor: pointer;
    }
}