@import "_variables";

.cookieBanner_container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $OneDarkBG;
    opacity: .95;
    height: 50px;
    color: white;
    font-family: "Open Sans";
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.cookieBanner {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cookieBanner p {
    flex: 1;

    @include desktop-down() {
        font-size: 0.7rem;
    }

    @include tablet-down() {
        font-size: 0.65rem;
    }
}

.cookieBanner p a {
    text-decoration: underline;
    color: white;
}

.cookieBanner_buttons button {
    margin: 5px;
    height: 30px;
    width: 100px;
    border: none;
    background-color: $blue;
    color: white;
    font-family: "Zilla Slab";
    font-size: 0.8rem;

    &:hover {
        background-color: $purple;
        cursor: pointer;
    }

    @include phone-down() {
        width: 60px;
        height: 18px;
        
    }
}