@import "_variables";

.cookieBanner_container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $OneDarkBG;
    opacity: .95;
    height: 25px;
    color: white;
    font-family: "Open Sans";
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    @include tablet-down() {
        height: 50px;
    }
}

.cookieBanner {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet-down() {
        flex-direction: column;
    }
}

.cookieBanner p {
    flex: 1;

    @include desktop-down() {
        font-size: 0.6rem;
    }

    @include tablet-down() {
        font-size: 0.65rem;
        text-align: center;
    }
}

.cookieBanner p a {
    text-decoration: underline;
    color: white;
}

.cookieBanner_buttons button {
    margin: 5px;
    height: 15px;
    width: 75px;
    border: none;
    background-color: $purple;
    color: white;
    font-family: "Zilla Slab";
    font-size: 0.6+rem;

    &:hover {
        background-color: $orange;
        cursor: pointer;
    }

    @include tablet-down() {
        margin-top: 10px;
    }
}