@import "_variables";

.coursePartPanel_container {
    background: $OneDarkBG;
    width: 60vw;
    height: 2vw;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Zilla Slab";    
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.85vw;
    font-weight: bold;
    box-shadow: 6px 6px 0px 0px #cdcbfd;
    margin-bottom: 15px;

    position: relative;
    transform: translateZ(0);
    transition: color 1000ms;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $blue;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        transition-property: transform;
        transition: 300ms ease-out;
    }
    
    &:hover:before {
        transform: scaleY(1);
    }

    &:hover {
        cursor: pointer;
        background: $purple;
    }

    &:active {
        box-shadow: 4px 4px 0px 0px #cdcbfd;
    }

    @include desktop-down() {
        width: 85%;
    }

    @include tablet-down() {
        width: 100%;
    }
}

.coursePartPanel_part {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Condensed";
    font-size: 2vw;
    padding-right: 10px;
    border-right: 1px solid white;

    @include desktop-down() {
        font-size: 2.25vw;
        width: 30px;
    }

    @include tablet-down() {
        font-size: 3vw;
        width: 20px;
    }

    @include phone-down() {
        width: 10px;
    }
}

.coursePartPanel_title {
    flex: 1; 
    display: flex;
    align-items: center;
    margin-left: 30px;
    transform: translateY(-1px);

    @include desktop-down()  {
        font-size: 2.5vw;
        margin-left: 20px;
    }

    @include tablet-down() {
        font-size: 3.5vw;
        margin-left: 15px;
    }

    @include phone-down() {
        font-size: 3vw;
        margin-left: 10px;
    }
}

.coursePartPanel_open {
    padding: 10px;
}