@import "_variables";

.course_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.course {
    @extend %container;
}

.course_info {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $OneDarkBG;
    border-style: dashed;

    @include desktop-down() {
        flex-direction: column;
        align-items: center;
    }
}

.course_video {
    width: 40vw;
    height: 22.5vw;
    border: 3px solid $OneDarkBG;
    box-shadow: 6px 6px 0px 0px #cdcbfd;

    @include desktop-down() {
        width: 65vw;
        height: 36.5625vw;
    }

    @include tablet-down() {
        width: 93vw;
        height: 52.3125vw;
    }
}

.course_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    padding-bottom: 0;
    flex: 1;

    @include desktop-down() {
        align-items: center;        
    }

    @include tablet-down() {
        width: 100%;
        align-items: center;
        padding: 0px;
        padding-top: 20px;
    }

    @include phone-down() {
        padding-top: 10px;
    }
}

.course_title {
    font-family: "Zilla Slab";
    font-weight: bold;
    font-size: 2.9vw;    
    text-align: center;
    color: $OneDarkBG;

    @include desktop-down() {
        font-size: 1.5rem;
        text-align: center;
    }

    @include tablet-down() {
        font-size: 1.6rem;
    }

    @include phone-down() {
        font-size: 1.5rem;
    }
}

.course_description {
    font-family: "Open Sans";
    margin-top: 10px;
    line-height: 1.5em;
    font-size: 1.6vw;
    text-align: center;

    @include desktop-down() {
        font-size: 1rem;
    }

    @include tablet-down() {
        width: auto;
        font-size: 1rem;
        margin-top: 5px;
    }

    @include phone-down() {
        font-size: 1rem;
        margin-top: 0px;
    }
}

.course_preface {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    @include desktop-down() {
        align-items: center;
    }
}

.course_preface h1 {
    color: $OneDarkBG;
    font-family: "Zilla Slab";
    margin-top: 20px;
    font-size: 1.75rem;
    text-align: center;
}

.course_preface p {
    margin-top: 10px;
    width: 65%;

    @include desktop-down() {
        width: 90%;
        text-align: center;
    }
}

.course_parts {
    margin-top: 30px;

    @include desktop-down() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.course_parts .coursePartPanel_container:nth-child(1) {
    border-top: 6px solid $purple;
}

.course_parts .coursePartPanel_container:last-of-type {
    border-bottom: 6px solid $purple;
}