@import "_variables";

.courses_container {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.courses {
    width: 1500px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-left: 50px;
    padding-right: 50px;

    @include desktop-down() {
        grid-template-columns: repeat(2, 1fr);
        width: 769px;
    }

    @include tablet-down() {
        grid-template-columns: repeat(1, 1fr);
        width: 450px;
    }

    @include phone-down() {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}