@import "_variables";

.coursePanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: $darkGrey;
    margin-bottom: 50px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.coursePanel img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.coursePanel_content {
    position: relative;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.coursePanel_content h2 {
    font-family: "Zilla Slab";
}

.coursePanel_content p {
    margin-top: 10px;
    font-family: "Roboto Slab";
    line-height: 1.3em;
    font-size: 0.75rem;
}

.coursePanel_button {
    margin-top: auto;
    background-color: $darkGrey;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-family: "Roboto Slab";
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;

    &:hover {
        background-color: $orange;
    }
}