@import "_variables";

.coursePartPanel_container {
    background: $darkBlue;
    width: 60vw;
    height: 2vw;
    display: flex;
    align-items: center;
    font-family: "Zilla Slab";    
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.85vw;
    font-weight: bold;
    box-shadow: 5px 5px 0px 0px rgba($darkBlue, 0.4);
    margin-bottom: 15px;
    @include backgroundTransition($gold, 200ms, "up");
    @include textTransition(p, $textColor, $darkBlue, 250ms, "up");

    &:hover {
        cursor: pointer;
        background: $darkBlue;

        .coursePartPanel_part {
            border-right: 1px solid $darkBlue;
        }
    }

    &:active {
        box-shadow: 3px 3px 0px 0px rgba($darkBlue, 0.4);
    }

    @include desktop-down() {
        width: 85%;
    }

    @include tablet-down() {
        width: 100%;
    }
}

.coursePartPanel_part {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Condensed";
    font-size: 2vw;
    padding-right: 10px;
    border-right: 1px solid $textColor;;

    @include desktop-down() {
        font-size: 2.25vw;
        width: 30px;
    }

    @include tablet-down() {
        font-size: 3vw;
        width: 20px;
    }

    @include phone-down() {
        width: 10px;
    }
}

.coursePartPanel_title {
    flex: 1; 
    display: flex;
    align-items: center;
    margin-left: 30px;
    transform: translateY(-1px);

    @include desktop-down()  {
        font-size: 2.5vw;
        margin-left: 20px;
    }

    @include tablet-down() {
        font-size: 3.5vw;
        margin-left: 15px;
    }

    @include phone-down() {
        font-size: 3vw;
        margin-left: 10px;
    }
}

.coursePartPanel_open {
    padding: 10px;
}