@import "_variables";

.error_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Zilla Slab";
    color: $OneDarkBG;
    text-align: center;
}

.error_container h1 {
    font-size: 20rem;
    font-family: "Open Sans";
    text-shadow: 10px 10px 0px #cdcbfd;

    @include desktop-down() {
        font-size: 17rem;
    }

    @include tablet-down() {
        font-size: 12rem;
    }

    @include phone-down() {
        font-size: 50vw;
    }
}

.error_container p {
    font-size: 1.6rem;
    text-shadow: 2px 2px 0px #cdcbfd;   
    

    @include desktop-down() {
        font-size: 1.3rem;
    }

    @include tablet-down() {
        font-size: 1.1rem;
    }

    @include phone-down() {
        font-size: 1rem;
    }
}

.error_message {
    width: 75%;

    @include tablet-down() {
        width: 90%;
    }
}