@import "_variables";

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 60px;
}

.home {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_jumbotron_container {
    $dot-size: 2px;
    $dot-space: 20px;
    $dot-color: #1a1d22;

    width: 100%;
    display: flex;
    justify-content: center;
    background: 
        radial-gradient(#1a1d22 3px, transparent 4px),
        radial-gradient(#1a1d22 3px, transparent 4px),
        linear-gradient($OneDarkBG 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #1a1d22 75px, #1a1d22 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #1a1d22 76px, #1a1d22 77px, transparent 78px, transparent 109px),
        $OneDarkBG;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.home_jumbotron {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;    

    @include tablet-down() {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include phone-down() {
        padding-top: 30px;
    }
}

.jumbotron_button,
.home_course_button {
    text-align: center;
    color: white;
    background: $blue;
    font-family: "Zilla Slab";
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    border: 1px solid white;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 1.2rem;

    @include phone-down() {
        width: 90%;
    }
}

.jumbotron_title {
    font-family: "Zilla Slab";
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.5);
    width: 50%;

    @include desktop-down() {
        width: 80%;
    }

    @include tablet-down() {
        width: 100%;
    }
}

.jumbotron_title--loader {
    width: 750px;
    height: 66px;
}

.home_courses {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 20px;
    color: white;
    font-family: "Zilla Slab";
}

.home_course {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_course_video {
    width: 27vw;
    height: 15.1875vw;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.5);
}

.home_course_title {    
    font-weight: bold;
    font-size: 1.75vw;
    margin-top: 20px;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.5);
}

.home_course_button {
    margin-top: 20px;
    font-size: 0.85rem;
    background-color: $purple;
    padding-top: 5px;
    padding-bottom: 5px;
}

.home_articles {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}