@import "_variables";

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 60px;
}

.home {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_jumbotron_container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, $purple, $blue);
}

.home_jumbotron {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;    

    @include tablet-down() {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include phone-down() {
        padding-top: 30px;
    }
}

.jumbotron_button {
    text-align: center;
    color: white;
    background: $OneDarkBG;
    font-family: "Zilla Slab";
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    border: 1px solid white;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 1.2rem;

    @include phone-down() {
        width: 90%;
    }

    &:hover {
        background: $blue;
    }
}

.jumbotron_title {
    font-family: "Zilla Slab";
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.5);
    width: 50%;

    @include desktop-down() {
        width: 80%;
    }

    @include tablet-down() {
        width: 100%;
    }
}

.jumbotron_courses {
    display: flex;
    width: 100%;
    margin-top: 20px;
    color: white;
    font-family: "Zilla Slab";
}

.home_course {
    display: flex;
    width: 50%;
    align-items: center;
}

.jumbotron_courses .home_course:first-of-type {
    justify-content: flex-end;
    margin-right: 50px;
}

.jumbotron_courses .home_course:last-of-type {
    margin-left: 50px;
}


.home_course_video {
    width: 37vw;
    height: 20.8125vw;
    background-color: $OneDarkBG;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.5);
}

.home_course_title {    
    font-weight: bold;
    font-size: 1.75vw;
    margin-top: 20px;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.5);
}

.home_articles {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}