@import "_variables";

.legal_container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.legal {
    @extend %articleContainer;
}

.legal h2 {
    font-family: "Zilla Slab";
    font-size: 2rem;
    color: $darkGrey;
    margin-bottom: 10px;
    margin-top: 10px;
}

.legal p, li, a {
    font-family: "Open Sans";
    line-height: 1.3em;
}