@import "_variables";

.navbar_container {
    z-index: 2;
    position: fixed;    
    width: 100%;
    font-family: "Zilla Slab";
    color: white;
    background: $purple;
    display: flex;
    justify-content: center;
}

.navbar {
    height: 55px;
    display: flex;
    justify-content: center;
    width: 1500px;
    min-width: 1200px;
    position: relative;
}

.navbar_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    @include tablet-down() {
        width: 55px;
    }
}

.navbar_logo img {
    margin-right: 3px;
    height: 40px;
    transform: translateY(-3px);
}

.navbar_logo_title {
    color: white;
    font-family: "Zilla Slab";
    font-weight: bold;   
    font-size: .8rem;
    line-height: 0.8em;
    width: 150px;
    padding-left: 10px;

    @include tablet-down() {
        display: none;
    }
}

.navbar_logo_block {
    width: 235px;

    @include tablet-down() {
        width: 55px;
    }
}

.navbar_links {    
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 55px;
    font-size: 0.85rem;    
    box-sizing: border-box;

    @include phone-down() {
        font-size: 1rem;
    }
}

.navbar_link {
    width: 100px;
    height: 100%;  
    @include backgroundTransition($orange, 200ms, "down");

    &:hover {
        cursor: pointer;
    }

    @include tablet-down() {
        width: 75px;
    }
}

.navbar_link p {    
    color: white;
    font-family: "Zilla Slab";   
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}





.accountSection_container {
    margin-left: auto;
    pointer-events: none;
}

.accountSection { 
    right: 0px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}

.accountSection > * {
    pointer-events: auto;
}

.accountSection a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
}