@import "_variables";

.navbar_container {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Zilla Slab";
    color: white;
    background: linear-gradient(to right, $purple, $blue);
}

.navbar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 235px;
    background: $OneDarkBG;
    position: absolute;
    left: 0;

    @include tablet-down() {
        width: 55px;
    }
}

.navbar_logo img {
    margin-right: 3px;
    height: 40px;
    transform: translateY(-3px);
}

.navbar_logo_title {
    color: white;
    font-family: "Zilla Slab";
    font-weight: bold;   
    font-size: .8rem;
    line-height: 0.8em;
    width: 150px;
    padding-left: 10px;

    @include tablet-down() {
        display: none;
    }
}

.navbar_logo_block {
    width: 235px;

    @include tablet-down() {
        width: 55px;
    }
}

.navbar_links {    
    display: flex;
    align-items: center;
    height: 55px;
    font-size: 0.85rem;    
    box-sizing: border-box;

    @include desktop-down() {
        
    }

    @include tablet-down() {
       
    }

    @include phone-down() {
        font-size: 1rem;
    }
}

.navbar_links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Zilla Slab";   
    height: 100%;
    width: 100px;

    position: relative;
    transform: translateZ(0);
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $OneDarkBG;
        transform: scaleY(0);
        transform-origin: 50% 0%;
        transition-property: transform;
        transition: 200ms ease-out;
    }
    
    &:hover:before {
        transform: scaleY(1);
    }    

    @include tablet-down() {
        width: 75px;
    }
}





.accountSection_container {
    margin-left: auto;
    pointer-events: none;
}

.accountSection { 
    right: 10px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}

.accountSection > * {
    pointer-events: auto;
}

.accountSection a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
}