div {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/0/09/Circle_Logo.svg/1200px-Circle_Logo.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    background: radial-gradient(blue, red, green);
    height: 300px;
}